{{ define "content" }}
<h1 class="title">Welcome to mint space</h1>
<p class="subtitle">
  Here you can find blogs related to popular techonolgies and software
  development
</p>
<div class="content">
  <h2>Total blogs found: {{ .Length }}</h2>
  <h3>Blogs list</h3>
  <ul>
    {{ range .Array }}
    <li>
      <div>
        <h4>Name: {{ .Title }}</h4>
        <h5>Author: {{ .AuthorEmail }}</h5>
        <p>
          Type: {{ if .Premium }} Premium content {{ else }} Regular content {{
          end }}
        </p>
        <a href="/blog/{{.Id}}"><button id="readmore">ReadMore</button></a>
      </div>
    </li>
    {{ end }}
  </ul>
</div>

<style>
  .title {
    color: cadetblue;
    font-size: 3em;
  }

  .subtitle {
    color: crimson;
    font-size: 1.5em;
    margin-top: 0.2em;
  }

  .content>h3 {
    color: cadetblue;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0.7em;
  }
</style>
{{ end }}