<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to mint space</h1>
    <p>
      Here you can find blogs related to popular techonolgies and software
      development
    </p>

    <div class="content">
      <h3>Blogs list</h3>
      <ul>
        {{ range . }}
        <li>
          <div>
            <h4>Id: {{ .Id }}</h4>
            <h4>Name: {{ .Title }}</h4>
            <h5>Author: {{ .Author.Name }}</h5>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>

    <footer>
      <!-- About me -->
    </footer>
  </body>
</html>
